PORT=4000
NODE_ENV=production

DATABASE_HOST=postgres
DATABASE_PORT=5432

DATABASE_NAME=hr_platform_dev

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

ACCESS_TOKEN_SECRET=supersecret
ACCESS_TOKEN_EXPIRES=15m

REFRESH_TOKEN_SECRET=supersecretrefresh
REFRESH_TOKEN_EXPIRES=7d